*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    background-image: linear-gradient(to bottom right,rgb(6, 6, 92), rgb(0, 106, 141));

}

h1, p {
    color: black;
    text-align: center;
    padding-right: 3rem;
}

.register {
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.6);
    width: 900px;
    height: 650px;
    padding-left: 7rem;
    padding-top: 3rem;
}

.register-form, .register-form-2{
    display: flex;
}


label {
    color: black;
}

input {
    width: 200px;
    height: 30px;
    text-indent: 5px;
    margin-top: 0.3em;
    border: none;
    opacity: 80%;
}

textarea {
    resize: none;
    text-indent: 5px;
    border: none;
    opacity: 80%;
}

.register-middle {
    padding-inline: 3em;
}

.register-2-left {
    padding-right: 2.9em;
}

.register-items {
    padding-top: 0.7em;
}

.submit-form {
    text-align: center;
    padding-right: 7rem;
    padding-top: 3rem;
}

input[type=submit] {
    background-color: rgb(44, 44, 82);
    color: white;
    border: 2px solid white;
    border-radius: 2em;
    font-size: 14pt;
}

input[type=submit]:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

span {
    font-size: 10pt;
    color: rgb(207, 0, 0);
}
