*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    text-align: center;
}

.text1{
    font-size: 14pt;
    padding-top: 1em;
}

.banner-desc h1{
    font-size: 50pt;
    font-weight: 900;
    padding-top: 1em;
}

.banner-desc p {
    font-size: 20pt;
    padding-top: 2em;
}

.banner-desc{
    color: white;
    background-image: url(https://img.idxchannel.com/media/700/images/idx/2021/12/09/atur_uang.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    height: 600px;
    filter: brightness(90%);
    
}

.button {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(black, rgb(3, 3, 73));
}

.loginButton {
    background-color: rgb(13, 36, 51);
    font-size: 30pt;
    padding: 0.7em 0.7em 0.7em 0.7em;
    padding-top: 3rem;
    height: 150px;
    width: 50%;
}

.registerButton {
    background-color: rgb(57, 60, 102);
    font-size: 30pt;
    padding: 0.7em 0.7em 0.7em 0.7em;
    padding-top: 3rem;
    width: 50%;
    height: 150px;
}

a {
    color: white;
    text-decoration: none;
}